{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{% assign blockNumber = 0 %}

<div class="image-text style-{{ section.settings.background_style }}">
    <div class="image-text-contents">
        <div class="image-text-header">
            <h3 class="image-text-header-heading">asdfasdf{{ section.settings.heading }}</h3>
            <p class="image-text-header-subheading">asdfasdf{{ section.settings.subheading }}</p>
        </div>
        <div class="image-text-body">
            <div class="image-text-slideshow-list-container">
                <ul class="image-text-slideshow-list aline-{{ section.settings.position_alignment }}">
                    {% for block in section.blocks %}
                        {% assign blockNumber = blockNumber | plus: 1 %}
                        {% assign navNumber = 0 %}
                        <li class="image-text-slideshow-list-item{% if blockNumber == 1 %} active{% endif %}" data-position="{{ blockNumber }}">
                            <div class="image-text-slideshow-list-item-container">
                                <div class="image-text-slideshow-list-item-content">
                                    <div class="image-text-slideshow-list-item-content-wrapper">
                                        <div class="image-text-slideshow-nav-container">
                                            <ul class="image-text-slideshow-nav-list">
                                                {% for block_2 in section.blocks %}
                                                    {% assign navNumber = navNumber | plus: 1 %}
                                                    <li>
                                                        <a class="image-text-slideshow-nav-list-item{% if navNumber == 1 %} active{% endif %}" data-position="{{ navNumber }}">{{ navNumber }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <h4 class="image-text-slideshow-title">{{ block.settings.text_heading }}</h4>
                                        <div class="image-text-slideshow-text">{{ block.settings.text_content }}</div>
                                    </div>
                                </div>
                                <div class="image-text-slideshow-list-item-image">
                                    {% if block.settings.image_text_img != blank %}
                                        <img srcset="{%- if block.settings.image_text_img.width >= 500 -%}{{ block.settings.image_text_img | img_url: '500x' }} 500w,{%- endif -%}
                                            {%- if block.settings.image_text_img.width >= 730 -%}{{ block.settings.image_text_img | img_url: '730x' }} 730w,{%- endif -%}
                                            {%- if block.settings.image_text_img.width >= 1440 -%}{{ block.settings.image_text_img | img_url: '1440x' }} 1440w,{%- endif -%}
                                            {%- if block.settings.image_text_img.width >= 990 -%}{{ block.settings.image_text_img | img_url: '990x' }} 990w,{%- endif -%}
                                            {%- if block.settings.image_text_img.width >= 2080 -%}{{ block.settings.image_text_img | img_url: '2080x' }} 2080w{%- endif -%}"
                                            src="{{ block.settings.image_text_img | img_url: '720x' }}"
                                            alt="image-{{ blockNumber }}"
                                            loading="lazy">
                                    {% else %}
                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        init();
    })
    document.addEventListener("shopify:section:load", function(event) {
        init();
    });
    function init() {
        $('.image-text-slideshow-nav-list-item').on('click',function(){
            if(!$(this).hasClass('active')){
                var dataposition = $(this).attr('data-position');
                // dataposition = parseInt(dataposition);
                console.log('ddd')
                $('.image-text-slideshow-nav-list-item').each(function() {
                    if($(this).attr('data-position') == dataposition) {
                        $(this).addClass('active');
                    }
                    else {
                        $(this).removeClass('active');
                    }
                });
                $('.image-text-slideshow-list-item').each(function() {
                    if($(this).attr('data-position') == dataposition) {
                        $(this).addClass('active');
                    }
                    else {
                        $(this).removeClass('active');
                    }
                });
            }
        });
    }
</script>
{% schema %}
{
    "name": "Image with text",
    "max_blocks": 4,
    "settings": [
        {
            "type": "select",
            "id": "background_style",
            "label": "Background style",
            "options": [
                {
                "value": "default",
                "label": "Default"
                },
                {
                "value": "light",
                "label": "Light"
                }
            ],
            "default": "default"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Subheading"
        },
        {
            "type": "select",
            "id": "position_alignment",
            "label": "Text Alignment",
            "options": [
                {
                "value": "left",
                "label": "Left"
                },
                {
                "value": "right",
                "label": "Right"
                }
            ],
            "default": "left"
        }
    ],
    "blocks": [
        {
            "type": "image-text",
            "name": "Image with text",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image_text_img",
                    "label": "Image",
                    "info": "800 x 640px .png recommended"
                },
                {
                    "type": "text",
                    "id": "text_heading",
                    "label": "Heading",
                    "default": "Images with text"
                },
                {
                    "type": "richtext",
                    "id": "text_content",
                    "label": "Text",
                    "default": "<p>Say a bit about your brand, a specific product, or promotion.</p>"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Images with text"
        }
    ]
}
{% endschema %}
